data/*.csv
data/*.xls
data/*.xlsx
kon/
*.xls
*.xlsx
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.idea/

.streamlit/
.DS_Store

.venv/
venv/
.idea/
.DS_Store

data/*.zip
!data/product_category_name_translation.csv